html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    font-size: small;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;  
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

#navbar-left {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;  
} 

#navbar-left a {
    margin: 20px;
}

#navbar-right {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header a {
    color: #5f6368;
    text-decoration: none;
    font-size: 14px;
    margin: 20px;
}

/* .material-icons {
    font-size: 14px;
    color: #5f6368;
}

#sign-in-button {
    color: white;
    background-color: #4387fd;
    padding: 6px 8px;
    border-radius: 3px;
} */

/* SEARCHBAR */

#searchbar {
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-container {
    position: relative;
}

#form-container input {
    padding: 12px;
    width: 550px;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    margin-top: 20px;
    outline: none;
}

#form-container #search_icon {
    position: absolute;
    left: 10px;
    top: 30px;
}

#form-container #mic_icon {
    position: absolute;
    right: 12px;
    top: 30px;
}

#searchbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#searchbar-buttons input {
    border-radius: 2px;
    background-color: #e9e9e9;
    border: 1px solid #e4e4e4;
    padding: 10px 13px;
    cursor: pointer;
    margin: 0 5px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    height: 35px;
    border-top: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-section, #right-section {
    display: flex;
    list-style-type: none;
}

footer a {
    color: #5f6368;
    font-size: 14px;
    text-decoration: none;
    margin: 20px;
}