/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    height: 100vh; 
    font-family: Arial, sans-serif; 
}

/* HEADER */

a {
    margin: 5px;
    text-decoration: none;
    color: #5f6368;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

#header-nav {
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
}

ul > a, ul > i, ul > input {
    padding: 0 8px;
    font-size: 13px;
}

ul > input {
    padding: 8px 12px;
    border: 1px solid #4285f4;
    font-size: 13px;
    background: #4683ea;
    color: #fff;
    font-weight: 800;
    border-radius: 2px;
    margin-left: 10px;
}

.nav-img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 4px;
}

/* SEARCHBAR */

#searchbar {
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-container {
    position: relative;
    display: flex;
    min-width: 100px;
}

#form-container input {
    padding: 14px;
    width: 550px;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    margin-top: 35px;
    outline: none;
}

#form-container #search_icon {
    position: absolute;
    color: #5F6368;
    left: 20px;
    top: 47px;
}

#form-container #mic_icon {
    position: absolute;
    color: #5F6368;
    right: 20px;
    top: 47px;
}

#searchbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#searchbar-buttons input {
    border-radius: 2px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    padding: 10px 13px;
    cursor: pointer;
    margin: 0 5px;
}

#searchbar-buttons input:hover {
    cursor: pointer;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 4px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    height: 35px;
    border-top: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-section {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

#right-section {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

footer a {
    color: #5f6368;
    font-size: 14px;
    text-decoration: none;
    margin: 20px;
}

/* MEDIA QUERY */

@media (max-width: 640px) {

    footer {
        flex-direction: column;
        height: 5vh;    
        padding-top: 18px;
        padding-bottom: 18px;
    }

    #left-section {
        justify-content: center;
        
    }

    #right-section {
        justify-content: center;
    }

    #searchbar {
        height: 80vh;
    }


}



